<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <div th:replace="partials/partials :: headPartial"></div>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <h1>Welcome!</h1>
</div>
<nav th:replace="partials/partials :: nav"></nav>

    <div class="container pb-5 mb-sm-1">
        <!-- Categories grid-->
        <div class="row d-flex flex-wrap">
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/FF8C00/000000" alt="Clothing"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Bourbon</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$49.99</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop clothing</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img">
                            <img src="https://via.placeholder.com/340x326/8A2BE2/000000" alt="Shoes">
                        </div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Vodka</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$56.00</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop shoes</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/6495ED/000000" alt="Bags"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Gin</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$27.00</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop bags</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/6495ED/000000" alt="Bags"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Tequila</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$35.99</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop sunglasses</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/008B8B/000000" alt="Hats"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Whiskey</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$14.50</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop hats</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/9932CC/000000" alt="Gloves"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Scotch</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$10.45</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop accessories</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/008B8B/000000" alt="Hats"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Liqueurs</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$10.45</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop accessories</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/6495ED/000000" alt="Bags"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Wine</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$10.45</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop accessories</a>
                    </div>
                </div>
            </div>
            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter m-auto">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img"><img src="https://via.placeholder.com/340x326/FF8C00/000000" alt="Clothing"></div>
                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1">Beer</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$10.45</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:include="partials/partials :: footer"></div>
<div th:include="partials/partials :: scripts"></div>
</body>
</html>